body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    color: red;
    font-size: 40px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}

#playerOneScore {
    float: right;
}

#computerScore {
    float: right;
}


#playerOneCards img { 
    width: 10%;
    height: 10%;

}

#computerCards img {
    width: 10%;
    height: 10%;
}

#deckOfCards img {
    width: 10%;
    height: 10%;
}

