body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    color: red;
    font-size: 40px;
    
}

h2 {
    font-family:Arial, Helvetica, sans-serif
}

/* #playerOneCards img { 
    

}

#playerTwoCards img {

} */